// Set theme here. Bootstrap variables are highlighted as such

// General:
$background: #ffffff;
$body-color: #444444; /* Bootstrap */
$primary: #dadada; /* Bootstrap */
$secondary: #999999; /* Bootstrap */
$accent: #c90e00;
$subtle: #6c757d;

// Footer:
$footer-background: #fff;
$footer-text: #333;
$footer-subtle: #888888;

// Links:
$navbar-light-color: #999999; /* Bootstrap */
$navbar-light-hover-color: #eeeeee; /* Bootstrap */

// Markdown:
$background-code: #eaeaea;
$border-code: 1px solid #eaeaea;

// Dark mode example:

// // General:
// $background: #131316;
// $body-color: #eeeeee; /* Bootstrap */
// $primary: #dadada; /* Bootstrap */
// $secondary: #999999; /* Bootstrap */
// $accent: #c90e00;
// $subtle: #999999;

// // Footer:
// $footer-background: #fcfcfc;
// $footer-text: #333333;
// $footer-subtle: #aaaaaa;

// // Links:
// $navbar-light-color: #999999; /* Bootstrap */
// $navbar-light-hover-color: #eeeeee; /* Bootstrap */

// // Markdown:
// $background-code: #131316;
// $border-code: 1px solid #dadada;

// marked lib doesn't support scoped style, hence we define it here.
// we use #markdown-content ancestor to prevent side effects
#markdown-content pre {
    background-color: $background-code;
    padding: 20px;
    border: $border-code;
    border-radius: 4px;
}

#markdown-content .token.operator {
    background: inherit;
}
